# Variables compartidas entre docker-compose y los servicios
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=gestorproyectos

JWT_SECRET=cambia_este_secreto_en_produccion

# URL que el frontend usará para llamar al backend
VITE_API_URL=http://localhost:3000/api
